.title {
  background-image: image(./resources/images/the-flatiron-building.png)>;
  }
  h1 {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
  }
  p {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
  }

  h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  .photo {
    text-align: center;

  }
  .process {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }
  .description {
    image-orientation: center;
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
  }
  .titlebar {
    background-image: image(./resources/images/the-flatiron-building.png);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: white;

  }
  .colorstrip {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
  }
  span {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
  }
